----PROCEDIMIENTOS CRUD INICIO SESION
USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_InicioSesion_Usuarios]
(
@Correo varchar(50),
@Password varchar(25)
)
AS BEGIN 
DECLARE @IdUsuario int
DECLARE @Estado char(1)
BEGIN TRY

	IF EXISTS(SELECT Id_Usuario FROM Usuarios WHERE Correo=@Correo and Password=@Password) 
	BEGIN
		SELECT @IdUsuario=Id_Usuario, @Estado=Estado FROM Usuarios WHERE Correo=@Correo and Password=@Password

		IF @Estado='A'
		BEGIN
			SELECT @IdUsuario

			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
			DECLARE @DSC VARCHAR(MAX)
			DECLARE @USRNOM VARCHAR(300)
			DECLARE @ACC CHAR(1)

			SELECT @USRNOM = Nombre + ' ' + Prim_Apellido + ' ' + Seg_Apellido FROM Usuarios Where Id_Usuario=@IdUsuario
			SET @DSC = 'Inicio de Sesión del Usuario: ' + CONVERT(VARCHAR,@USRNOM)
			SET @ACC = 'I'

			INSERT INTO Auditoria
			(
			Id_Usuario, Accion, Descripción, Fecha
			)
			SELECT
			@IdUsuario, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------

		END
		ELSE
		BEGIN
			SELECT -1
		END
	END
	ELSE
	BEGIN
		SELECT 0
	END
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

CREATE PROCEDURE [dbo].[USP_CierraSesion_Usuarios]
(
@IdUsuario INT
)
AS BEGIN 
DECLARE @Estado char(1)
BEGIN TRY

	IF EXISTS(SELECT Id_Usuario FROM Usuarios WHERE Id_Usuario=@IdUsuario) 
	BEGIN
			SELECT @IdUsuario

			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
			DECLARE @DSC VARCHAR(MAX)
			DECLARE @USRNOM VARCHAR(300)
			DECLARE @ACC CHAR(1)

			SELECT @USRNOM = Nombre + ' ' + Prim_Apellido + ' ' + Seg_Apellido FROM Usuarios Where Id_Usuario=@IdUsuario
			SET @DSC = 'Cierra de Sesión del Usuario: ' + CONVERT(VARCHAR,@USRNOM)
			SET @ACC = 'I'

			INSERT INTO Auditoria
			(
			Id_Usuario, Accion, Descripción, Fecha
			)
			SELECT
			@IdUsuario, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
	END
	ELSE
	BEGIN
		SELECT 0
	END
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

CREATE PROCEDURE [dbo].[USP_Informacion_Usuarios]
(
@IdUsuario INT
)
AS BEGIN 

SELECT [Id_Usuario]
      ,[Nombre]
	  ,[Prim_Apellido]
	  ,[Seg_Apellido] 
	  ,[Correo]
	  ,CASE LTRIM(RTRIM([Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
	  ,[Password]
  FROM [dbo].[Usuarios]
  WHERE [Id_Usuario]=@IdUsuario
END
GO

----PROCEDIMIENTOS CRUD AUDITORIA
CREATE PROCEDURE [dbo].[USP_Filtrar_Auditoria]
(
@Usuario int,
@Accion nvarchar(10),
@Desde DATETIME,
@Hasta DATETIME
)
AS BEGIN 
SET DATEFORMAT DMY
SELECT 
	   [Fecha] as [Fecha / Hora]
      ,CASE LTRIM(RTRIM([Accion])) WHEN 'A' THEN 'Actualizar' WHEN 'E' THEN 'Eliminar' WHEN 'I' THEN 'Insertar' ELSE 'N/A' END [Accion]
      ,[Descripción]
      
  FROM [dbo].[Auditoria]
  WHERE Id_Usuario=@Usuario 
		AND 
			(
				CAST(Fecha as DATE)>=CAST(@Desde AS DATE) 
					AND 
				CAST(Fecha as DATE)<=CAST(@Hasta AS DATE) 
			 )
		AND Accion = CASE LTRIM(RTRIM(@Accion)) WHEN 'T' THEN Accion ELSE Accion END
END
GO


----PROCEDIMIENTOS CRUD USUARIOS

CREATE PROCEDURE [dbo].[USP_Listar_Usuarios]
AS BEGIN 

SELECT [Id_Usuario]
      ,[Correo]
      ,[Nombre] + ' ' + [Prim_Apellido] + ' ' + [Seg_Apellido] [Nombre]
      ,CASE LTRIM(RTRIM([Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
  FROM [dbo].[Usuarios]
END
GO

CREATE PROCEDURE [dbo].[USP_Filtrar_Usuarios]
(
@Correo nvarchar(50),
@Nombre nvarchar(150),
@Estado nvarchar(10)
)
AS BEGIN 

SELECT [Id_Usuario]
      ,[Correo]
      ,[Nombre] + ' ' + [Prim_Apellido] + ' ' + [Seg_Apellido] [Nombre]
      ,CASE LTRIM(RTRIM([Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
  FROM [dbo].[Usuarios]
  WHERE LTRIM(RTRIM([Nombre]))+' '+LTRIM(RTRIM([Prim_Apellido]))+' '+LTRIM(RTRIM([Seg_Apellido])) LIKE '%' + LTRIM(RTRIM(@Nombre)) +'%'
		AND LTRIM(RTRIM([Correo])) LIKE '%' +  LTRIM(RTRIM(@Correo)) +'%'
		AND Estado = CASE LTRIM(RTRIM(@Estado)) WHEN '' THEN Estado WHEN 'Activo' THEN 'A' ELSE 'I' END
END
GO

CREATE PROCEDURE [dbo].[USP_Insertar_Usuarios]
(
@Nombre varchar(50),
@Prim_Apellido varchar(50),
@Seg_Apellido varchar(50),
@Correo varchar(50),
@Estado varchar(10),
@Password varchar(25),
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	IF NOT EXISTS(SELECT Id_Usuario FROM USUARIOS WHERE Correo=@Correo)
	BEGIN 
		INSERT INTO  [dbo].[Usuarios]
		(
			   [Nombre]
			  ,[Prim_Apellido]
			  ,[Seg_Apellido] 
			  ,[Estado]
			  ,[Correo]
			  ,[Password]
		)
		VALUES
		(
			@Nombre,
			@Prim_Apellido,
			@Seg_Apellido,
			CASE LTRIM(RTRIM(@Estado)) WHEN 'Activo' THEN 'A' ELSE 'I' END,
			@Correo,
			@Password
		)
		SELECT @@IDENTITY

			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
			DECLARE @DSC VARCHAR(MAX)
			DECLARE @ACC CHAR(1)
			SET @DSC = 'Incluye la información del Usuario ' + RTRIM(LTRIM(@Nombre)) + ' ' + RTRIM(LTRIM(@Prim_Apellido)) + ' ' +  RTRIM(LTRIM(@Seg_Apellido)) + '. Id Registro: ' + CONVERT(VARCHAR,@@IDENTITY)
			SET @ACC = 'I'

			INSERT INTO Auditoria
			(
			Id_Usuario, Accion, Descripción, Fecha
			)
			SELECT
			@IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------

	END
	ELSE
	BEGIN
		SELECT -1
	END
	
END TRY
BEGIN CATCH
		SELECT 0
END CATCH
END
GO

CREATE PROCEDURE [dbo].[USP_Modificar_Usuarios]
(
@IdUsuario int,
@Nombre varchar(50),
@Prim_Apellido varchar(50),
@Seg_Apellido varchar(50),
@Correo varchar(50),
@Estado varchar(10),
@Password varchar(25),
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	IF NOT EXISTS(SELECT Id_Usuario FROM Usuarios WHERE Correo=@Correo and Id_Usuario not in(@IdUsuario)) 
	BEGIN
		UPDATE [dbo].[Usuarios]
		SET
			   [Nombre]=@Nombre
			  ,[Prim_Apellido]=@Prim_Apellido
			  ,[Seg_Apellido] =@Seg_Apellido
			  ,[Estado]=CASE LTRIM(RTRIM(@Estado)) WHEN 'Activo' THEN 'A' ELSE 'I' END
			  ,[Password]=@Password
			  ,[Correo]=@Correo
		WHERE Id_Usuario=@IdUsuario

			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
			DECLARE @DSC VARCHAR(MAX)
			DECLARE @ACC CHAR(1)
			SET @DSC = 'Actualiza la información del Usuario ' + RTRIM(LTRIM(@Nombre)) + ' ' + RTRIM(LTRIM(@Prim_Apellido)) + ' ' +  RTRIM(LTRIM(@Seg_Apellido)) +  '. Id Registro: ' + CONVERT(VARCHAR,@IdUsuario)
			SET @ACC = 'A'

			INSERT INTO Auditoria
			(
			Id_Usuario, Accion, Descripción, Fecha
			)
			SELECT
			@IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------

		SELECT @IdUsuario
	END
	ELSE
	BEGIN
		SELECT -1
	END
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

CREATE PROCEDURE [dbo].[USP_Eliminar_Usuarios]
(
@IdUsuario int,
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	IF (NOT EXISTS(SELECT Id_Auditoria FROM Auditoria WHERE Id_Usuario=@IdUsuario)
		AND NOT EXISTS (SELECT Id_Modulo_Usuario FROM Modulos_X_Usuario WHERE Id_Usuario=@IdUsuario) 
		)
	BEGIN

				-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
			DECLARE @DSC VARCHAR(MAX)
			DECLARE @USUARIO VARCHAR(250)
			DECLARE @ACC CHAR(1)

			SELECT @USUARIO=RTRIM(LTRIM(Nombre)) + ' ' + RTRIM(LTRIM(Prim_Apellido)) + ' ' +  RTRIM(LTRIM(Seg_Apellido))FROM Usuarios
			WHERE Id_Usuario=@IdUsuario

			SET @DSC = 'Elimina la información del Usuario ' + RTRIM(LTRIM(@USUARIO)) + '. Id Registro: ' + CONVERT(VARCHAR,@IdUsuario)
			SET @ACC = 'E'

			INSERT INTO Auditoria
			(
			Id_Usuario, Accion, Descripción, Fecha
			)
			SELECT
			@IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------



		DELETE FROM Usuarios
		WHERE Id_Usuario=@IdUsuario

		SELECT @IdUsuario
	END
	ELSE
	BEGIN
		SELECT -1
	END
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

----PROCEDIMIENTOS CRUD MODULOS 
CREATE PROCEDURE [dbo].[USP_Listar_Modulos]
AS BEGIN

SELECT [Id_Modulo]
      ,[Modulo]
  FROM [dbo].[Modulos]
  ORDER BY Id_Modulo
END
GO

----PROCEDIMIENTOS CRUD USUARIOS_X_USUARIOS
CREATE PROCEDURE [dbo].[USP_Habilita_ModulosXUsuario]
(
@IdUsuario int
)
AS BEGIN
	SELECT 
	MDD.ID_MODULO AS ID_REAL, MDD.MODULO AS MODULO, CASE ISNULL(MXU.Id_Modulo,0) WHEN 0 THEN 'N' ELSE 'S' END AS ASIGNADO
	FROM MODULOS MDD
	LEFT JOIN Modulos_X_Usuario MXU ON MDD.Id_Modulo=MXU.Id_Modulo AND MXU.Id_Usuario=@IdUsuario
	ORDER BY ID_REAL
END
GO
	
CREATE PROCEDURE [dbo].[USP_Listar_ModulosXUsuario]
(
@IdUsuario int
)
AS BEGIN
 SELECT 0 [Id_Modulo_Usuario],
	    'Panel de Control' [Modulo],
		'fa fa-tachometer' [ClaseCss],
		'frmPanel.aspx' [Enlace],
		0 AS MODL
 UNION
 SELECT [Id_Modulo_Usuario]
      ,[Modulo]
	  ,[ClaseCss]
	  ,[Enlace]
	  ,MDS.Id_Modulo AS MODL
  FROM [dbo].[Modulos_X_Usuario] MXU
  INNER JOIN Modulos MDS ON MDS.Id_Modulo=MXU.Id_Modulo
  WHERE Id_Usuario=@IdUsuario
  ORDER BY (4) ASC
END
GO

CREATE PROCEDURE [dbo].[USP_Insertar_ModulosXUsuario]
(
@IdModulo int,
@IdUsuario int,
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	IF NOT EXISTS(SELECT Id_Modulo_Usuario FROM Modulos_X_Usuario WHERE Id_Usuario=@IdUsuario AND Id_Modulo=@IdModulo)
	BEGIN 
		INSERT INTO  [dbo].[Modulos_X_Usuario]
		(
			   Id_Usuario
			  ,Id_Modulo
		)
		VALUES
		(
			@IdUsuario,
			@IdModulo
		)
		SELECT @@IDENTITY


					-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
			DECLARE @DSC VARCHAR(MAX)
			DECLARE @ACC CHAR(1)
			DECLARE @MODULO VARCHAR(50)
			DECLARE @USUARIO VARCHAR(250)

			SELECT @MODULO=Modulo FROM Modulos WHERE Id_Modulo=@IdModulo
			SELECT @USUARIO= RTRIM(LTRIM(Nombre)) + ' ' + RTRIM(LTRIM(Prim_Apellido)) + ' ' +  RTRIM(LTRIM(Seg_Apellido)) FROM Usuarios WHERE Id_Usuario=@IdUsuario

			SET @DSC = 'Asigna el módulo ' + RTRIM(LTRIM(@MODULO)) + ' al Usuario ' + RTRIM(LTRIM(@USUARIO)) +  '. Id Registro: ' + CONVERT(VARCHAR,@@IDENTITY)
			SET @ACC = 'I'

			INSERT INTO Auditoria
			(
			Id_Usuario, Accion, Descripción, Fecha
			)
			SELECT
			@IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------


	END
	ELSE
	BEGIN
		SELECT -1
	END
	
END TRY
BEGIN CATCH
		SELECT 0
END CATCH
END
GO

CREATE PROCEDURE [dbo].[USP_Eliminar_ModulosXUsuario]
(
@IdModuloUsuario int,
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY

					-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
			DECLARE @DSC VARCHAR(MAX)
			DECLARE @ACC CHAR(1)
			DECLARE @MODULO VARCHAR(50)
			DECLARE @USUARIO VARCHAR(250)

			SELECT @MODULO=Modulo 
			FROM Modulos MDD
			INNER JOIN Modulos_X_Usuario MXU ON MXU.Id_Modulo=MDD.Id_Modulo
			WHERE Id_Modulo_Usuario=@IdModuloUsuario
			
			
			SELECT @USUARIO= RTRIM(LTRIM(Nombre)) + ' ' + RTRIM(LTRIM(Prim_Apellido)) + ' ' +  RTRIM(LTRIM(Seg_Apellido)) 
			FROM Usuarios USR
			INNER JOIN Modulos_X_Usuario MXU ON MXU.Id_Usuario=USR.Id_Usuario
			WHERE Id_Modulo_Usuario=@IdModuloUsuario

			SET @DSC = 'Elimina el módulo ' + RTRIM(LTRIM(@MODULO)) + ' al Usuario ' + RTRIM(LTRIM(@USUARIO)) +  '. Id Registro: ' + CONVERT(VARCHAR,@IdModuloUsuario)
			SET @ACC = 'E'

			INSERT INTO Auditoria
			(
			Id_Usuario, Accion, Descripción, Fecha
			)
			SELECT
			@IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------


		DELETE FROM Modulos_X_Usuario WHERE Id_Modulo_Usuario=@IdModuloUsuario
		SELECT @IdModuloUsuario
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

--INSERT INTO Usuarios
--(
--Correo, Nombre, Prim_Apellido, Seg_Apellido, Estado, Password
--)
--SELECT 
--'kevin.montes@uamcr.net','Kevin','Montes','Varela','A','123'




----PROCEDIMIENTOS TIPOS DE IDENTIFICACION
USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Listar_Tipos_Identificacion]
AS BEGIN 

SELECT [Id_TipoIdentificacion]
      ,[Tipo_Identificacion]
      ,CASE LTRIM(RTRIM([Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
  FROM [dbo].[Tipos_Identificacion]

END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Filtrar_Tipos_Identificacion]
(
@Tipo_Identificacion nvarchar(50),
@Estado nvarchar(10)
)
AS BEGIN 

SELECT [Id_TipoIdentificacion]
      ,[Tipo_Identificacion]
      ,CASE LTRIM(RTRIM([Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
  FROM [dbo].[Tipos_Identificacion]
  WHERE LTRIM(RTRIM([Tipo_Identificacion])) LIKE '%' + LTRIM(RTRIM(@Tipo_Identificacion)) +'%'
		AND Estado = CASE LTRIM(RTRIM(@Estado)) WHEN '' THEN Estado WHEN 'Activo' THEN 'A' ELSE 'I' END

END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Insertar_Tipos_Identificacion]
(
@Tipo_Identificacion varchar(50),
@Estado varchar(10),
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que no exista un tipo con el mismo nombre
	IF NOT EXISTS(SELECT Id_TipoIdentificacion FROM Tipos_Identificacion WHERE Tipo_Identificacion=@Tipo_Identificacion)
	BEGIN 
		
		-- Insertar el nuevo tipo de identificación
		INSERT INTO [dbo].[Tipos_Identificacion]
		(
			[Tipo_Identificacion],
			[Estado]
		)
		VALUES
		(
			@Tipo_Identificacion,
			@Estado
		)
		
		-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @ACC CHAR(1)
		
		SET @DSC = 'Inserta el tipo de identificación: ' + RTRIM(LTRIM(@Tipo_Identificacion)) + '. Id Registro: ' + CONVERT(VARCHAR,@@IDENTITY)
		SET @ACC = 'I'
		
		INSERT INTO Auditoria
		(
			Id_Usuario, Accion, Descripción, Fecha
		)
		SELECT
			@IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
		
		-- Retornar el ID del nuevo registro
		SELECT @@IDENTITY
		
	END
	ELSE
	BEGIN
		-- Ya existe un tipo con ese nombre
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	-- Error de sistema
	SELECT 0
END CATCH
END
GO


USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Modificar_Tipos_Identificacion]
(
@IdTipoIdentificacion int,
@Tipo_Identificacion varchar(50),
@Estado varchar(10),
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que no exista OTRO tipo con el mismo nombre
	IF NOT EXISTS(
		SELECT Id_TipoIdentificacion 
		FROM Tipos_Identificacion 
		WHERE Tipo_Identificacion=@Tipo_Identificacion 
			AND Id_TipoIdentificacion<>@IdTipoIdentificacion
	)
	BEGIN 
		
		-----------------------AUDITORÍA-------------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @TIPO VARCHAR(50)
		DECLARE @ACC CHAR(1)
		
		SELECT @TIPO=RTRIM(LTRIM(Tipo_Identificacion)) 
		FROM Tipos_Identificacion
		WHERE Id_TipoIdentificacion=@IdTipoIdentificacion
		
		SET @DSC = 'Modifica el tipo de identificación: ' + @TIPO + ' por ' + RTRIM(LTRIM(@Tipo_Identificacion)) + '. Id Registro: ' + CONVERT(VARCHAR,@IdTipoIdentificacion)
		SET @ACC = 'A'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		-----------------------AUDITORÍA-------------------------------------------
		
		-- Actualizar
		UPDATE [dbo].[Tipos_Identificacion]
		SET [Tipo_Identificacion] = @Tipo_Identificacion,
			[Estado] = @Estado
		WHERE Id_TipoIdentificacion = @IdTipoIdentificacion
		
		SELECT @IdTipoIdentificacion
		
	END
	ELSE
	BEGIN
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Eliminar_Tipos_Identificacion]
(
@IdTipoIdentificacion int,
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que NO esté siendo usado en Médicos o Pacientes
	IF (
		NOT EXISTS(SELECT Id_Medico FROM Medicos WHERE Tipo_Identificacion=@IdTipoIdentificacion)
		AND
		NOT EXISTS(SELECT Id_Paciente FROM Pacientes WHERE Tipo_Identificacion=@IdTipoIdentificacion)
	)
	BEGIN
		
		-----------------------AUDITORÍA-------------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @TIPO VARCHAR(50)
		DECLARE @ACC CHAR(1)
		
		SELECT @TIPO=RTRIM(LTRIM(Tipo_Identificacion)) 
		FROM Tipos_Identificacion
		WHERE Id_TipoIdentificacion=@IdTipoIdentificacion
		
		SET @DSC = 'Elimina el tipo de identificación: ' + @TIPO + '. Id Registro: ' + CONVERT(VARCHAR,@IdTipoIdentificacion)
		SET @ACC = 'E'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		-----------------------AUDITORÍA-------------------------------------------
		
		-- ELIMINACIÓN
		DELETE FROM Tipos_Identificacion
		WHERE Id_TipoIdentificacion=@IdTipoIdentificacion
		
		SELECT @IdTipoIdentificacion
		
	END
	ELSE
	BEGIN
		-- Está siendo usado en Médicos o Pacientes
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

USE [CRUD_HOSPITALES]
GO


CREATE PROCEDURE [dbo].[USP_Informacion_Tipos_Identificacion]
(
@IdTipoIdentificacion INT
)
AS BEGIN 
    SELECT 
        [Id_TipoIdentificacion],
        [Tipo_Identificacion],
        [Estado]
    FROM [dbo].[Tipos_Identificacion] 
    WHERE [Id_TipoIdentificacion] = @IdTipoIdentificacion
END
GO

/*Pruebas*/
--DBCC CHECKIDENT('[dbo].[Tipos_Identificacion]', RESEED, 0)

--exec [dbo].[USP_Insertar_Tipos_Identificacion] 'DIMEX', 'A', 1

--exec [dbo].[USP_Listar_Tipos_Identificacion]

--exec [dbo].[USP_Filtrar_Tipos_Identificacion] '', ''

--exec [dbo].[USP_Modificar_Tipos_Identificacion] 2, 'Pasaporte', 'I', 1

--exec [dbo].[USP_Eliminar_Tipos_Identificacion] 2,1

--exec [dbo].[USP_Informacion_Tipos_Identificacion] 3


----PROCEDIMIENTOS TIPOS DE CONSULTORIO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Listar_Tipos_Consultorios]
AS BEGIN 
	SELECT [Id_TipoConsultorio]
          ,[Tipo_Consultorio]
          ,CASE LTRIM(RTRIM([Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
    FROM [dbo].[Tipos_Consultorios]
	ORDER BY [Tipo_Consultorio] ASC
END
GO


USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Filtrar_Tipos_Consultorios]
(
@Tipo_Consultorio nvarchar(50),
@Estado nvarchar(10)
)
AS BEGIN 

SELECT [Id_TipoConsultorio]
          ,[Tipo_Consultorio]
          ,CASE LTRIM(RTRIM([Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
    FROM [dbo].[Tipos_Consultorios]
    WHERE LTRIM(RTRIM([Tipo_Consultorio])) LIKE '%' + LTRIM(RTRIM(@Tipo_Consultorio)) + '%'
		AND Estado = CASE LTRIM(RTRIM(@Estado)) WHEN '' THEN Estado WHEN 'Activo' THEN 'A' ELSE 'I' END
	ORDER BY [Tipo_Consultorio] ASC
END
GO


USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Insertar_Tipos_Consultorios]
(
@Tipo_Consultorio varchar(50),
@Estado varchar(10),
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que no exista ya ese tipo
	IF NOT EXISTS(SELECT Id_TipoConsultorio FROM Tipos_Consultorios WHERE Tipo_Consultorio=@Tipo_Consultorio)
	BEGIN 
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @TIPO VARCHAR(50)
		DECLARE @ACC CHAR(1)
		
		SET @TIPO = RTRIM(LTRIM(@Tipo_Consultorio))
		SET @DSC = 'Inserta el tipo de consultorio: ' + @TIPO
		SET @ACC = 'I'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		-- INSERTAR
		INSERT INTO [dbo].[Tipos_Consultorios] ([Tipo_Consultorio], [Estado])
		VALUES (@Tipo_Consultorio, @Estado)
		
		-- Retornar el ID del nuevo registro
		SELECT @@IDENTITY
		
	END
	ELSE
	BEGIN
		-- Ya existe un tipo con ese nombre
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	-- Error de sistema
	SELECT 0
END CATCH
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Modificar_Tipos_Consultorios]
(
@IdTipoConsultorio int,
@Tipo_Consultorio varchar(50),
@Estado varchar(10),
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que no exista OTRO tipo con el mismo nombre
	IF NOT EXISTS (
		SELECT Id_TipoConsultorio 
		FROM Tipos_Consultorios 
		WHERE Tipo_Consultorio=@Tipo_Consultorio 
			AND Id_TipoConsultorio<>@IdTipoConsultorio
	)
	BEGIN 
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @TIPO VARCHAR(50)
		DECLARE @ACC CHAR(1)
		
		SELECT @TIPO=RTRIM(LTRIM(Tipo_Consultorio)) 
		FROM Tipos_Consultorios
		WHERE Id_TipoConsultorio=@IdTipoConsultorio
		
		SET @DSC = 'Modifica el tipo de consultorio: ' + @TIPO + ' por ' + RTRIM(LTRIM(@Tipo_Consultorio)) + '. Id Registro: ' + CONVERT(VARCHAR,@IdTipoConsultorio)
		SET @ACC = 'A'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		-- Actualizar
		UPDATE [dbo].[Tipos_Consultorios]
		SET [Tipo_Consultorio] = @Tipo_Consultorio,
			[Estado] = @Estado
		WHERE Id_TipoConsultorio = @IdTipoConsultorio
		
		SELECT @IdTipoConsultorio
		
	END
	ELSE
	BEGIN
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Eliminar_Tipos_Consultorios]
(
@IdTipoConsultorio int,
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que NO esté siendo usado en Consultorios
	IF (
		NOT EXISTS(SELECT Id_Consultorio FROM Consultorios WHERE Id_TipoConsultorio=@IdTipoConsultorio)
	)
	BEGIN
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @TIPO VARCHAR(50)
		DECLARE @ACC CHAR(1)
		
		SELECT @TIPO=RTRIM(LTRIM(Tipo_Consultorio)) 
		FROM Tipos_Consultorios
		WHERE Id_TipoConsultorio=@IdTipoConsultorio
		
		SET @DSC = 'Elimina el tipo de consultorio: ' + @TIPO + '. Id Registro: ' + CONVERT(VARCHAR,@IdTipoConsultorio)
		SET @ACC = 'E'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		-- ELIMINACIÓN
		DELETE FROM Tipos_Consultorios
		WHERE Id_TipoConsultorio=@IdTipoConsultorio
		
		SELECT @IdTipoConsultorio
		
	END
	ELSE
	BEGIN
		-- Está siendo usado en Consultorios
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

USE [CRUD_HOSPITALES]
GO

CREATE PROCEDURE [dbo].[USP_Informacion_Tipos_Consultorios]
(
@IdTipoConsultorio INT
)
AS BEGIN 
	SELECT 
		[Id_TipoConsultorio],
		[Tipo_Consultorio],
		[Estado]
	FROM [dbo].[Tipos_Consultorios] 
	WHERE [Id_TipoConsultorio] = @IdTipoConsultorio
END
GO

/*Pruebas*/
--DBCC CHECKIDENT('[dbo].[Tipos_Consultorios]', RESEED, 0)

--exec [dbo].[USP_Listar_Tipos_Consultorios]
--exec [dbo].[USP_Insertar_Tipos_Consultorios] 'Odontologia', 'A', 1
--exec [USP_Filtrar_Tipos_Consultorios] '',''
--exec [USP_Modificar_Tipos_Consultorios] 1,'Medicina General', 'A', 1
--exec [dbo].[USP_Informacion_Tipos_Consultorios] 2
--exec [dbo].[USP_Eliminar_Tipos_Consultorios] 2,1


----PROCEDIMIENTOS TIPOS DE Especialidades

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Listar_Tipos_Especialidades]
AS BEGIN 
	SELECT [Id_TipoEspecialidad]
          ,[Tipo_Especialidad]
          ,CASE LTRIM(RTRIM([Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
    FROM [dbo].[Tipos_Especialidades]
	ORDER BY [Tipo_Especialidad] ASC
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Filtrar_Tipos_Especialidades]
(
@Tipo_Especialidad nvarchar(50),
@Estado nvarchar(10)
)
AS BEGIN 

SELECT [Id_TipoEspecialidad]
          ,[Tipo_Especialidad]
          ,CASE LTRIM(RTRIM([Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
    FROM [dbo].[Tipos_Especialidades]
    WHERE LTRIM(RTRIM([Tipo_Especialidad])) LIKE '%' + LTRIM(RTRIM(@Tipo_Especialidad)) + '%'
		AND Estado = CASE LTRIM(RTRIM(@Estado)) WHEN '' THEN Estado WHEN 'Activo' THEN 'A' ELSE 'I' END
	ORDER BY [Tipo_Especialidad] ASC
END
GO

USE [CRUD_HOSPITALES]
GO

CREATE PROCEDURE [dbo].[USP_Informacion_Tipos_Especialidades]
(
@IdTipoEspecialidad INT
)
AS BEGIN 
	SELECT 
		[Id_TipoEspecialidad],
		[Tipo_Especialidad],
		[Estado]
	FROM [dbo].[Tipos_Especialidades] 
	WHERE [Id_TipoEspecialidad] = @IdTipoEspecialidad
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Insertar_Tipos_Especialidades]
(
@Tipo_Especialidad varchar(50),
@Estado varchar(10),
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que no exista ya ese tipo
	IF NOT EXISTS(SELECT Id_TipoEspecialidad FROM Tipos_Especialidades WHERE Tipo_Especialidad=@Tipo_Especialidad)
	BEGIN 
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @TIPO VARCHAR(50)
		DECLARE @ACC CHAR(1)
		
		SET @TIPO = RTRIM(LTRIM(@Tipo_Especialidad))
		SET @DSC = 'Inserta el tipo de especialidad: ' + @TIPO
		SET @ACC = 'I'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		-- INSERTAR
		INSERT INTO [dbo].[Tipos_Especialidades] ([Tipo_Especialidad], [Estado])
		VALUES (@Tipo_Especialidad, @Estado)
		
		-- Retornar el ID del nuevo registro
		SELECT @@IDENTITY
		
	END
	ELSE
	BEGIN
		-- Ya existe un tipo con ese nombre
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	-- Error de sistema
	SELECT 0
END CATCH
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Modificar_Tipos_Especialidades]
(
@IdTipoEspecialidad int,
@Tipo_Especialidad varchar(50),
@Estado varchar(10),
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que no exista OTRO tipo con el mismo nombre
	IF NOT EXISTS (
		SELECT Id_TipoEspecialidad 
		FROM Tipos_Especialidades 
		WHERE Tipo_Especialidad=@Tipo_Especialidad 
			AND Id_TipoEspecialidad<>@IdTipoEspecialidad
	)
	BEGIN 
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @TIPO VARCHAR(50)
		DECLARE @ACC CHAR(1)
		
		SELECT @TIPO=RTRIM(LTRIM(Tipo_Especialidad)) 
		FROM Tipos_Especialidades
		WHERE Id_TipoEspecialidad=@IdTipoEspecialidad
		
		SET @DSC = 'Modifica el tipo de especialidad: ' + @TIPO + ' por ' + RTRIM(LTRIM(@Tipo_Especialidad)) + '. Id Registro: ' + CONVERT(VARCHAR,@IdTipoEspecialidad)
		SET @ACC = 'A'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		-- Actualizar
		UPDATE [dbo].[Tipos_Especialidades]
		SET [Tipo_Especialidad] = @Tipo_Especialidad,
			[Estado] = @Estado
		WHERE Id_TipoEspecialidad = @IdTipoEspecialidad
		
		SELECT @IdTipoEspecialidad
		
	END
	ELSE
	BEGIN
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO


USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Eliminar_Tipos_Especialidades]
(
@IdTipoEspecialidad int,
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que NO esté siendo usado en Especialidades_X_Medicos
	IF (
		NOT EXISTS(SELECT Id_Especialidad_Medico FROM Especialidades_X_Medicos WHERE Id_TipoEspecialidad=@IdTipoEspecialidad)
	)
	BEGIN
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @TIPO VARCHAR(50)
		DECLARE @ACC CHAR(1)
		
		SELECT @TIPO=RTRIM(LTRIM(Tipo_Especialidad)) 
		FROM Tipos_Especialidades
		WHERE Id_TipoEspecialidad=@IdTipoEspecialidad
		
		SET @DSC = 'Elimina el tipo de especialidad: ' + @TIPO + '. Id Registro: ' + CONVERT(VARCHAR,@IdTipoEspecialidad)
		SET @ACC = 'E'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		-- ELIMINACIÓN
		DELETE FROM Tipos_Especialidades
		WHERE Id_TipoEspecialidad=@IdTipoEspecialidad
		
		SELECT @IdTipoEspecialidad
		
	END
	ELSE
	BEGIN
		-- Está siendo usado en Especialidades_X_Medicos
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

/*Pruebas*/
--DBCC CHECKIDENT('[dbo].[Tipos_Especialidades]', RESEED, 0)

--exec [dbo].[USP_Listar_Tipos_Especialidades]
--exec [dbo].[USP_Filtrar_Tipos_Especialidades] '', ''
--exec [dbo].[USP_Informacion_Tipos_Especialidades]
--exec [dbo].[USP_Insertar_Tipos_Especialidades] 'Neurologia', 'A', 1
--exec [dbo].[USP_Modificar_Tipos_Especialidades] 1,'Cardiologia', 'A', 1
--exec [dbo].[USP_Eliminar_Tipos_Especialidades] 2, 1

----PROCEDIMIENTOS TIPOS DE CITAS

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Listar_Tipos_Citas]
AS BEGIN 
	SELECT [Id_TipoCita]
          ,[Tipo_Cita]
          ,CASE LTRIM(RTRIM([Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
    FROM [dbo].[Tipos_Citas]
	ORDER BY [Tipo_Cita] ASC
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Filtrar_Tipos_Citas]
(
@Tipo_Cita nvarchar(50),
@Estado nvarchar(10)
)
AS BEGIN 

SELECT [Id_TipoCita]
          ,[Tipo_Cita]
          ,CASE LTRIM(RTRIM([Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
    FROM [dbo].[Tipos_Citas]
    WHERE LTRIM(RTRIM([Tipo_Cita])) LIKE '%' + LTRIM(RTRIM(@Tipo_Cita)) + '%'
		AND Estado = CASE LTRIM(RTRIM(@Estado)) WHEN '' THEN Estado WHEN 'Activo' THEN 'A' ELSE 'I' END
	ORDER BY [Tipo_Cita] ASC
END
GO


USE [CRUD_HOSPITALES]
GO

CREATE PROCEDURE [dbo].[USP_Informacion_Tipos_Citas]
(
@IdTipoCita INT
)
AS BEGIN 
	SELECT 
		[Id_TipoCita],
		[Tipo_Cita],
		[Estado]
	FROM [dbo].[Tipos_Citas] 
	WHERE [Id_TipoCita] = @IdTipoCita
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Insertar_Tipos_Citas]
(
@Tipo_Cita varchar(50),
@Estado varchar(10),
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que no exista ya ese tipo
	IF NOT EXISTS(SELECT Id_TipoCita FROM Tipos_Citas WHERE Tipo_Cita=@Tipo_Cita)
	BEGIN 
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @TIPO VARCHAR(50)
		DECLARE @ACC CHAR(1)
		
		SET @TIPO = RTRIM(LTRIM(@Tipo_Cita))
		SET @DSC = 'Inserta el tipo de cita: ' + @TIPO
		SET @ACC = 'I'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		-- INSERTAR
		INSERT INTO [dbo].[Tipos_Citas] ([Tipo_Cita], [Estado])
		VALUES (@Tipo_Cita, @Estado)
		
		-- Retornar el ID del nuevo registro
		SELECT @@IDENTITY
		
	END
	ELSE
	BEGIN
		-- Ya existe un tipo con ese nombre
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	-- Error de sistema
	SELECT 0
END CATCH
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Modificar_Tipos_Citas]
(
@IdTipoCita int,
@Tipo_Cita varchar(50),
@Estado varchar(10),
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que no exista OTRO tipo con el mismo nombre
	IF NOT EXISTS (
		SELECT Id_TipoCita 
		FROM Tipos_Citas 
		WHERE Tipo_Cita=@Tipo_Cita 
			AND Id_TipoCita<>@IdTipoCita
	)
	BEGIN 
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @TIPO VARCHAR(50)
		DECLARE @ACC CHAR(1)
		
		SELECT @TIPO=RTRIM(LTRIM(Tipo_Cita)) 
		FROM Tipos_Citas
		WHERE Id_TipoCita=@IdTipoCita
		
		SET @DSC = 'Modifica el tipo de cita: ' + @TIPO + ' por ' + RTRIM(LTRIM(@Tipo_Cita)) + '. Id Registro: ' + CONVERT(VARCHAR,@IdTipoCita)
		SET @ACC = 'A'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		-- Actualizar
		UPDATE [dbo].[Tipos_Citas]
		SET [Tipo_Cita] = @Tipo_Cita,
			[Estado] = @Estado
		WHERE Id_TipoCita = @IdTipoCita
		
		SELECT @IdTipoCita
		
	END
	ELSE
	BEGIN
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Eliminar_Tipos_Citas]
(
@IdTipoCita int,
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que NO esté siendo usado en Citas
	IF (
		NOT EXISTS(SELECT Id_Cita FROM Citas WHERE Id_TipoCita=@IdTipoCita)
	)
	BEGIN
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @TIPO VARCHAR(50)
		DECLARE @ACC CHAR(1)
		
		SELECT @TIPO=RTRIM(LTRIM(Tipo_Cita)) 
		FROM Tipos_Citas
		WHERE Id_TipoCita=@IdTipoCita
		
		SET @DSC = 'Elimina el tipo de cita: ' + @TIPO + '. Id Registro: ' + CONVERT(VARCHAR,@IdTipoCita)
		SET @ACC = 'E'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		-- ELIMINACIÓN
		DELETE FROM Tipos_Citas
		WHERE Id_TipoCita=@IdTipoCita
		
		SELECT @IdTipoCita
		
	END
	ELSE
	BEGIN
		-- Está siendo usado en Citas
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

/*Pruebas*/
--DBCC CHECKIDENT('[dbo].[Tipos_Citas]', RESEED, 0)

--exec [dbo].[USP_Listar_Tipos_Citas]
--exec [USP_Filtrar_Tipos_Citas] '',''
--exec [dbo].[USP_Informacion_Tipos_Citas] 1
--exec [dbo].[USP_Insertar_Tipos_Citas] 'Virtual','A',1
--exec [dbo].[USP_Modificar_Tipos_Citas] 2,'Virtual','A',1
--exec [dbo].[USP_Eliminar_Tipos_Citas] 2,1


----PROCEDIMIENTOS CRUD HOSPITALES

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Listar_Hospitales]
AS BEGIN 
	SELECT [Id_Hospital]
          ,[Descripcion]
          ,[Telefono]
          ,[Correo]
          ,CASE LTRIM(RTRIM([Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
    FROM [dbo].[Hospitales]
	ORDER BY [Descripcion] ASC
END
GO



USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Filtrar_Hospitales]
(
@Descripcion nvarchar(50),
@Estado nvarchar(10)
)
AS BEGIN 

SELECT [Id_Hospital]
          ,[Descripcion]
          ,[Telefono]
          ,[Correo]
          ,CASE LTRIM(RTRIM([Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
    FROM [dbo].[Hospitales]
    WHERE LTRIM(RTRIM([Descripcion])) LIKE '%' + LTRIM(RTRIM(@Descripcion)) + '%'
		AND Estado = CASE LTRIM(RTRIM(@Estado)) WHEN '' THEN Estado WHEN 'Activo' THEN 'A' ELSE 'I' END
	ORDER BY [Descripcion] ASC
END
GO

USE [CRUD_HOSPITALES]
GO

CREATE PROCEDURE [dbo].[USP_Informacion_Hospitales]
(
@IdHospital INT
)
AS BEGIN 
	SELECT 
		[Id_Hospital],
		[Cod_Hospital],
		[Descripcion],
		[Direccion],
		[Telefono],
		[Correo],
		[Web],
		[Area],
		CONVERT(VARCHAR,day([Fecha_Construccion]))  + '/' + CONVERT(VARCHAR,MONTH([Fecha_Construccion])) + '/' + CONVERT(VARCHAR,year([Fecha_Construccion])) [Fecha_Construccion],
		[Estado]
	FROM [dbo].[Hospitales] 
	WHERE [Id_Hospital] = @IdHospital
END
GO


USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Insertar_Hospitales]
(
@Cod_Hospital varchar(10),
@Descripcion varchar(50),
@Direccion varchar(500),
@Telefono varchar(8),
@Correo varchar(50),
@Web varchar(50),
@Area int,
@Fecha_Construccion date,
@Estado varchar(1),
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que no exista ya ese código de hospital
	IF NOT EXISTS(SELECT Id_Hospital FROM Hospitales WHERE Cod_Hospital=@Cod_Hospital)
	BEGIN 
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @CODIGO VARCHAR(10)
		DECLARE @DESC VARCHAR(50)
		DECLARE @ACC CHAR(1)
		
		SET @CODIGO = RTRIM(LTRIM(@Cod_Hospital))
		SET @DESC = RTRIM(LTRIM(@Descripcion))
		SET @DSC = 'Inserta el hospital con código: ' + @CODIGO + ' y descripción: ' + @DESC
		SET @ACC = 'I'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		-- INSERTAR
		INSERT INTO [dbo].[Hospitales] (
			[Cod_Hospital], 
			[Descripcion], 
			[Direccion], 
			[Telefono], 
			[Correo], 
			[Web], 
			[Area], 
			[Fecha_Construccion], 
			[Estado]
		)
		VALUES (
			@Cod_Hospital, 
			@Descripcion, 
			@Direccion, 
			@Telefono, 
			@Correo, 
			@Web, 
			@Area, 
			@Fecha_Construccion, 
			@Estado
		)
		
		-- Retornar el ID del nuevo registro
		SELECT @@IDENTITY
		
	END
	ELSE
	BEGIN
		-- Ya existe un hospital con ese código
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	-- Error de sistema
	SELECT 0
END CATCH
END
GO


USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Modificar_Hospitales]
(
@IdHospital int,
@Cod_Hospital varchar(10),
@Descripcion varchar(50),
@Direccion varchar(500),
@Telefono varchar(8),
@Correo varchar(50),
@Web varchar(50),
@Area int,
@Fecha_Construccion date,
@Estado varchar(1),
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que no exista OTRO hospital con el mismo código
	IF NOT EXISTS (
		SELECT Id_Hospital 
		FROM Hospitales 
		WHERE Cod_Hospital=@Cod_Hospital 
			AND Id_Hospital<>@IdHospital
	)
	BEGIN 
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @CODIGO_VIEJO VARCHAR(10)
		DECLARE @DESC_VIEJO VARCHAR(50)
		DECLARE @ACC CHAR(1)
		
		SELECT @CODIGO_VIEJO=RTRIM(LTRIM(Cod_Hospital)), 
		       @DESC_VIEJO=RTRIM(LTRIM(Descripcion))
		FROM Hospitales
		WHERE Id_Hospital=@IdHospital
		
		SET @DSC = 'Modifica el hospital: ' + @CODIGO_VIEJO + ' - ' + @DESC_VIEJO + 
		           ' por ' + RTRIM(LTRIM(@Cod_Hospital)) + ' - ' + RTRIM(LTRIM(@Descripcion)) + 
		           '. Id Registro: ' + CONVERT(VARCHAR,@IdHospital)
		SET @ACC = 'A'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		-- Actualizar
		UPDATE [dbo].[Hospitales]
		SET [Cod_Hospital] = @Cod_Hospital,
			[Descripcion] = @Descripcion,
			[Direccion] = @Direccion,
			[Telefono] = @Telefono,
			[Correo] = @Correo,
			[Web] = @Web,
			[Area] = @Area,
			[Fecha_Construccion] = @Fecha_Construccion,
			[Estado] = @Estado
		WHERE Id_Hospital = @IdHospital
		
		SELECT @IdHospital
		
	END
	ELSE
	BEGIN
		-- Ya existe otro hospital con ese código
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Eliminar_Hospitales]
(
@IdHospital int,
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que NO esté siendo usado en Consultorios
	IF (
		NOT EXISTS(SELECT Id_Consultorio FROM Consultorios WHERE Id_Hospital=@IdHospital)
	)
	BEGIN
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @CODIGO VARCHAR(10)
		DECLARE @DESC VARCHAR(50)
		DECLARE @ACC CHAR(1)
		
		SELECT @CODIGO=RTRIM(LTRIM(Cod_Hospital)),
		       @DESC=RTRIM(LTRIM(Descripcion))
		FROM Hospitales
		WHERE Id_Hospital=@IdHospital
		
		SET @DSC = 'Elimina el hospital: ' + @CODIGO + ' - ' + @DESC + '. Id Registro: ' + CONVERT(VARCHAR,@IdHospital)
		SET @ACC = 'E'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		-- ELIMINACIÓN
		DELETE FROM Hospitales
		WHERE Id_Hospital=@IdHospital
		
		SELECT @IdHospital
		
	END
	ELSE
	BEGIN
		-- Está siendo usado en Consultorios
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

/*Pruebas*/
--DBCC CHECKIDENT('[dbo].[Hospitales]', RESEED, 0)

--exec [dbo].[USP_Listar_Hospitales]
--exec [dbo].[USP_Filtrar_Hospitales] '',''
--exec [dbo].[USP_Informacion_Hospitales] 4
--exec [dbo].[USP_Insertar_Hospitales] '5101','Hospital Mexico', 'La Uruca, San Jose', '22255555','hospitalmexico@dominio.com','www.hospitalmexico.com', 25000,'2025/12/13','A',1
--exec [dbo].[USP_Insertar_Hospitales] '5103','Hospital Max Peralta', 'Cartago, Cartago', '22211111','hospitalmaxperalta@dominio.com','www.hospitalmaxperalta.com', 12000,'2025/12/13','A',1
--exec [dbo].[USP_Modificar_Hospitales] 1,'5101','Hospital Mexico', 'La Uruca, San Jose', '22255555','mexico@dominio.com','www.hospitalmexico.com', 25000,'2025/12/13','A',1
--exec [dbo].[USP_Eliminar_Hospitales] 2,1

----PROCEDIMIENTOS CRUD CONSULTORIOS

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Listar_Consultorios]
AS BEGIN 
	SELECT 
		C.[Id_Consultorio],
		H.[Descripcion] AS [Hospital],
		TC.[Tipo_Consultorio],
		C.[Descripcion] AS [Consultorio],
		CASE LTRIM(RTRIM(C.[Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
	FROM [dbo].[Consultorios] C
	INNER JOIN [dbo].[Hospitales] H ON C.[Id_Hospital] = H.[Id_Hospital]
	INNER JOIN [dbo].[Tipos_Consultorios] TC ON C.[Id_TipoConsultorio] = TC.[Id_TipoConsultorio]
	ORDER BY H.[Descripcion], C.[Descripcion] ASC
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Filtrar_Consultorios]
(
@Id_Hospital INT,
@Id_TipoConsultorio INT,
@Descripcion NVARCHAR(50),
@Estado NVARCHAR(10)
)
AS BEGIN 

	SELECT 
		C.[Id_Consultorio],
		H.[Descripcion] AS [Hospital],
		TC.[Tipo_Consultorio],
		C.[Descripcion] AS [Consultorio],
		CASE LTRIM(RTRIM(C.[Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
	FROM [dbo].[Consultorios] C
	INNER JOIN [dbo].[Hospitales] H ON C.[Id_Hospital] = H.[Id_Hospital]
	INNER JOIN [dbo].[Tipos_Consultorios] TC ON C.[Id_TipoConsultorio] = TC.[Id_TipoConsultorio]
	WHERE C.[Id_Hospital] = CASE WHEN @Id_Hospital = 0 THEN C.[Id_Hospital] ELSE @Id_Hospital END
		AND C.[Id_TipoConsultorio] = CASE WHEN @Id_TipoConsultorio = 0 THEN C.[Id_TipoConsultorio] ELSE @Id_TipoConsultorio END
		AND LTRIM(RTRIM(C.[Descripcion])) LIKE '%' + LTRIM(RTRIM(@Descripcion)) + '%'
		AND C.[Estado] = CASE LTRIM(RTRIM(@Estado)) WHEN '' THEN C.[Estado] WHEN 'Activo' THEN 'A' ELSE 'I' END
	ORDER BY H.[Descripcion], C.[Descripcion] ASC
END
GO

USE [CRUD_HOSPITALES]
GO

CREATE PROCEDURE [dbo].[USP_Informacion_Consultorios]
(
@IdConsultorio INT
)
AS BEGIN 
	SELECT 
		[Id_Consultorio],
		[Id_Hospital],
		[Id_TipoConsultorio],
		[Descripcion],
		[Estado]
	FROM [dbo].[Consultorios] 
	WHERE [Id_Consultorio] = @IdConsultorio
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Insertar_Consultorios]
(
@Id_Hospital INT,
@Id_TipoConsultorio INT,
@Descripcion VARCHAR(50),
@Estado VARCHAR(1),
@IdUsuario_Global INT
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que no exista ya ese consultorio en el mismo hospital
	IF NOT EXISTS(
		SELECT Id_Consultorio 
		FROM Consultorios 
		WHERE Id_Hospital = @Id_Hospital 
			AND Descripcion = @Descripcion
	)
	BEGIN 
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @DESC VARCHAR(50)
		DECLARE @HOSP VARCHAR(50)
		DECLARE @ACC CHAR(1)
		
		SET @DESC = RTRIM(LTRIM(@Descripcion))
		
		SELECT @HOSP = RTRIM(LTRIM(Descripcion))
		FROM Hospitales
		WHERE Id_Hospital = @Id_Hospital
		
		SET @DSC = 'Inserta el consultorio: ' + @DESC + ' en el hospital: ' + @HOSP
		SET @ACC = 'I'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		-- INSERTAR
		INSERT INTO [dbo].[Consultorios] (
			[Id_Hospital], 
			[Id_TipoConsultorio], 
			[Descripcion], 
			[Estado]
		)
		VALUES (
			@Id_Hospital, 
			@Id_TipoConsultorio, 
			@Descripcion, 
			@Estado
		)
		
		-- Retornar el ID del nuevo registro
		SELECT @@IDENTITY
		
	END
	ELSE
	BEGIN
		-- Ya existe un consultorio con ese nombre en el hospital
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	-- Error de sistema
	SELECT 0
END CATCH
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Modificar_Consultorios]
(
@IdConsultorio INT,
@Id_Hospital INT,
@Id_TipoConsultorio INT,
@Descripcion VARCHAR(50),
@Estado VARCHAR(1),
@IdUsuario_Global INT
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que no exista OTRO consultorio con el mismo nombre en el mismo hospital
	IF NOT EXISTS (
		SELECT Id_Consultorio 
		FROM Consultorios 
		WHERE Id_Hospital = @Id_Hospital 
			AND Descripcion = @Descripcion
			AND Id_Consultorio <> @IdConsultorio
	)
	BEGIN 
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @DESC_VIEJO VARCHAR(50)
		DECLARE @HOSP_VIEJO VARCHAR(50)
		DECLARE @HOSP_NUEVO VARCHAR(50)
		DECLARE @ACC CHAR(1)
		
		SELECT @DESC_VIEJO = RTRIM(LTRIM(C.Descripcion)),
		       @HOSP_VIEJO = RTRIM(LTRIM(H.Descripcion))
		FROM Consultorios C
		INNER JOIN Hospitales H ON C.Id_Hospital = H.Id_Hospital
		WHERE C.Id_Consultorio = @IdConsultorio
		
		SELECT @HOSP_NUEVO = RTRIM(LTRIM(Descripcion))
		FROM Hospitales
		WHERE Id_Hospital = @Id_Hospital
		
		SET @DSC = 'Modifica el consultorio: ' + @DESC_VIEJO + ' (' + @HOSP_VIEJO + 
		           ') por ' + RTRIM(LTRIM(@Descripcion)) + ' (' + @HOSP_NUEVO + 
		           '). Id Registro: ' + CONVERT(VARCHAR, @IdConsultorio)
		SET @ACC = 'A'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		-- Actualizar
		UPDATE [dbo].[Consultorios]
		SET [Id_Hospital] = @Id_Hospital,
			[Id_TipoConsultorio] = @Id_TipoConsultorio,
			[Descripcion] = @Descripcion,
			[Estado] = @Estado
		WHERE Id_Consultorio = @IdConsultorio
		
		SELECT @IdConsultorio
		
	END
	ELSE
	BEGIN
		-- Ya existe otro consultorio con ese nombre en el hospital
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Eliminar_Consultorios]
(
@IdConsultorio INT,
@IdUsuario_Global INT
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que NO esté siendo usado en Citas
	IF (
		NOT EXISTS(SELECT Id_Cita FROM Citas WHERE Id_Consultorio = @IdConsultorio)
	)
	BEGIN
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @DESC VARCHAR(50)
		DECLARE @HOSP VARCHAR(50)
		DECLARE @ACC CHAR(1)
		
		SELECT @DESC = RTRIM(LTRIM(C.Descripcion)),
		       @HOSP = RTRIM(LTRIM(H.Descripcion))
		FROM Consultorios C
		INNER JOIN Hospitales H ON C.Id_Hospital = H.Id_Hospital
		WHERE C.Id_Consultorio = @IdConsultorio
		
		SET @DSC = 'Elimina el consultorio: ' + @DESC + ' del hospital: ' + @HOSP + 
		           '. Id Registro: ' + CONVERT(VARCHAR, @IdConsultorio)
		SET @ACC = 'E'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		-- ELIMINACIÓN
		DELETE FROM Consultorios
		WHERE Id_Consultorio = @IdConsultorio
		
		SELECT @IdConsultorio
		
	END
	ELSE
	BEGIN
		-- Está siendo usado en Citas
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO


/*Pruebas*/
--DBCC CHECKIDENT('[dbo].[Consultorios]', RESEED, 0)
--exec [dbo].[USP_Listar_Consultorios]
--exec [dbo].[USP_Filtrar_Consultorios] 0,0 ,'',''
--exec [dbo].[USP_Informacion_Consultorios] 2
--exec [dbo].[USP_Insertar_Consultorios] 4,1,'Inyectables', 'A',1
--exec [dbo].[USP_Modificar_Consultorios] 2,4,1,'Inyectables','A',1
--exec [dbo].[USP_Eliminar_Consultorios] 1,1

----PROCEDIMIENTOS CRUD MEDICOS

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Listar_Medicos]
AS BEGIN 
	SELECT 
		M.[Id_Medico],
		M.[Nombre] + ' ' + M.[Prim_Apellido] + ' ' + M.[Seg_Apellido] AS [Nombre_Completo],
		TI.[Tipo_Identificacion],
		M.[Identificacion],
		M.[Telefono],
		M.[Correo]
	FROM [dbo].[Medicos] M
	INNER JOIN [dbo].[Tipos_Identificacion] TI ON M.[Tipo_Identificacion] = TI.[Id_TipoIdentificacion]
	ORDER BY M.[Prim_Apellido], M.[Nombre] ASC
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Filtrar_Medicos]
(
@Nombre NVARCHAR(50),
@Prim_Apellido NVARCHAR(50),
@Tipo_Identificacion INT
)
AS BEGIN 

	SELECT 
		M.[Id_Medico],
		M.[Nombre] + ' ' + M.[Prim_Apellido] + ' ' + M.[Seg_Apellido] AS [Nombre_Completo],
		TI.[Tipo_Identificacion],
		M.[Identificacion],
		M.[Telefono],
		M.[Correo]
	FROM [dbo].[Medicos] M
	INNER JOIN [dbo].[Tipos_Identificacion] TI ON M.[Tipo_Identificacion] = TI.[Id_TipoIdentificacion]
	WHERE LTRIM(RTRIM(M.[Nombre])) LIKE '%' + LTRIM(RTRIM(@Nombre)) + '%'
		AND LTRIM(RTRIM(M.[Prim_Apellido])) LIKE '%' + LTRIM(RTRIM(@Prim_Apellido)) + '%'
		AND M.[Tipo_Identificacion] = CASE WHEN @Tipo_Identificacion = 0 THEN M.[Tipo_Identificacion] ELSE @Tipo_Identificacion END
	ORDER BY M.[Prim_Apellido], M.[Nombre] ASC
END
GO

USE [CRUD_HOSPITALES]
GO

CREATE PROCEDURE [dbo].[USP_Informacion_Medicos]
(
@IdMedico INT
)
AS BEGIN 
	SELECT 
		[Id_Medico],
		[Nombre],
		[Prim_Apellido],
		[Seg_Apellido],
		[Tipo_Identificacion],
		[Identificacion],
		[Telefono],
		[Correo],
		[Cod_Profesional]
	FROM [dbo].[Medicos] 
	WHERE [Id_Medico] = @IdMedico
END
GO

USE CRUD_HOSPITALES
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Insertar_Medicos]
(
@Nombre VARCHAR(50),
@Prim_Apellido VARCHAR(50),
@Seg_Apellido VARCHAR(50),
@Tipo_Identificacion INT,
@Identificacion VARCHAR(25),
@Telefono VARCHAR(8),
@Correo VARCHAR(50),
@Cod_Profesional VARCHAR(10),
@IdUsuario_Global INT
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que no exista ya ese número de identificación
	IF NOT EXISTS(
		SELECT Id_Medico 
		FROM Medicos 
		WHERE Identificacion = @Identificacion
	)
	BEGIN 
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @NOMBRE_COMPLETO VARCHAR(150)
		DECLARE @ACC CHAR(1)
		
		SET @NOMBRE_COMPLETO = RTRIM(LTRIM(@Nombre)) + ' ' + 
		                       RTRIM(LTRIM(@Prim_Apellido)) + ' ' + 
		                       RTRIM(LTRIM(@Seg_Apellido))
		
		SET @DSC = 'Inserta el médico: ' + @NOMBRE_COMPLETO + 
		           ' con identificación: ' + RTRIM(LTRIM(@Identificacion))
		SET @ACC = 'I'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		-- INSERTAR
		INSERT INTO [dbo].[Medicos] (
			[Nombre], 
			[Prim_Apellido], 
			[Seg_Apellido], 
			[Tipo_Identificacion], 
			[Identificacion], 
			[Telefono], 
			[Correo], 
			[Cod_Profesional]
		)
		VALUES (
			@Nombre, 
			@Prim_Apellido, 
			@Seg_Apellido, 
			@Tipo_Identificacion, 
			@Identificacion, 
			@Telefono, 
			@Correo, 
			@Cod_Profesional
		)
		
		-- Retornar el ID del nuevo registro
		SELECT @@IDENTITY
		
	END
	ELSE
	BEGIN
		-- Ya existe un médico con ese número de identificación
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	-- Error de sistema
	SELECT 0
END CATCH
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Modificar_Medicos]
(
@IdMedico INT,
@Nombre VARCHAR(50),
@Prim_Apellido VARCHAR(50),
@Seg_Apellido VARCHAR(50),
@Tipo_Identificacion INT,
@Identificacion VARCHAR(25),
@Telefono VARCHAR(8),
@Correo VARCHAR(50),
@Cod_Profesional VARCHAR(10),
@IdUsuario_Global INT
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que no exista OTRO médico con el mismo número de identificación
	IF NOT EXISTS (
		SELECT Id_Medico 
		FROM Medicos 
		WHERE Identificacion = @Identificacion 
			AND Id_Medico <> @IdMedico
	)
	BEGIN 
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @NOMBRE_COMPLETO_VIEJO VARCHAR(150)
		DECLARE @NOMBRE_COMPLETO_NUEVO VARCHAR(150)
		DECLARE @ACC CHAR(1)
		
		SELECT @NOMBRE_COMPLETO_VIEJO = RTRIM(LTRIM(Nombre)) + ' ' + 
		                                RTRIM(LTRIM(Prim_Apellido)) + ' ' + 
		                                RTRIM(LTRIM(Seg_Apellido))
		FROM Medicos
		WHERE Id_Medico = @IdMedico
		
		SET @NOMBRE_COMPLETO_NUEVO = RTRIM(LTRIM(@Nombre)) + ' ' + 
		                             RTRIM(LTRIM(@Prim_Apellido)) + ' ' + 
		                             RTRIM(LTRIM(@Seg_Apellido))
		
		SET @DSC = 'Modifica el médico: ' + @NOMBRE_COMPLETO_VIEJO + 
		           ' por ' + @NOMBRE_COMPLETO_NUEVO + 
		           '. Id Registro: ' + CONVERT(VARCHAR, @IdMedico)
		SET @ACC = 'A'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		-- Actualizar
		UPDATE [dbo].[Medicos]
		SET [Nombre] = @Nombre,
			[Prim_Apellido] = @Prim_Apellido,
			[Seg_Apellido] = @Seg_Apellido,
			[Tipo_Identificacion] = @Tipo_Identificacion,
			[Identificacion] = @Identificacion,
			[Telefono] = @Telefono,
			[Correo] = @Correo,
			[Cod_Profesional] = @Cod_Profesional
		WHERE Id_Medico = @IdMedico
		
		SELECT @IdMedico
		
	END
	ELSE
	BEGIN
		-- Ya existe otro médico con ese número de identificación
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Eliminar_Medicos]
(
@IdMedico INT,
@IdUsuario_Global INT
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que NO esté siendo usado en Citas o Especialidades_X_Medicos
	IF (
		NOT EXISTS(SELECT Id_Cita FROM Citas WHERE Id_Medico = @IdMedico)
		AND
		NOT EXISTS(SELECT Id_Especialidad_Medico FROM Especialidades_X_Medicos WHERE Id_Medico = @IdMedico)
	)
	BEGIN
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @NOMBRE_COMPLETO VARCHAR(150)
		DECLARE @ACC CHAR(1)
		
		SELECT @NOMBRE_COMPLETO = RTRIM(LTRIM(Nombre)) + ' ' + 
		                          RTRIM(LTRIM(Prim_Apellido)) + ' ' + 
		                          RTRIM(LTRIM(Seg_Apellido))
		FROM Medicos
		WHERE Id_Medico = @IdMedico
		
		SET @DSC = 'Elimina el médico: ' + @NOMBRE_COMPLETO + 
		           '. Id Registro: ' + CONVERT(VARCHAR, @IdMedico)
		SET @ACC = 'E'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		-- ELIMINACIÓN
		DELETE FROM Medicos
		WHERE Id_Medico = @IdMedico
		
		SELECT @IdMedico
		
	END
	ELSE
	BEGIN
		-- Está siendo usado en Citas o Especialidades_X_Medicos
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

/*Pruebas*/
--DBCC CHECKIDENT('[dbo].[dbo].[Medicos]', RESEED, 0)
--exec [dbo].[USP_Listar_Medicos]
--exec [USP_Filtrar_Medicos] 'ger','',0
--exec [dbo].[USP_Informacion_Medicos] 1
--exec [dbo].[USP_Insertar_Medicos] 'Karina','Mata','Chavarria',1,'111543685','86124578','kmata@dominio.com','MedOdo03',1
--exec [dbo].[USP_Modificar_Medicos] 2,'Karina','Mendoza','Chavarria',1,'111543685','86124578','kmata@dominio.com','MedOdo03',1
--exec [dbo].[USP_Eliminar_Medicos] 2,1


----PROCEDIMIENTOS CRUD PACIENTES

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Listar_Pacientes]
AS BEGIN 
	SELECT 
		P.[Id_Paciente],
		P.[Nombre] + ' ' + P.[Prim_Apellido] + ' ' + P.[Seg_Apellido] AS [Nombre_Completo],
		TI.[Tipo_Identificacion],
		P.[Identificacion],
		P.[Telefono],
		P.[Correo]
	FROM [dbo].[Pacientes] P
	INNER JOIN [dbo].[Tipos_Identificacion] TI ON P.[Tipo_Identificacion] = TI.[Id_TipoIdentificacion]
	ORDER BY P.[Prim_Apellido], P.[Nombre] ASC
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Filtrar_Pacientes]
(
@Nombre NVARCHAR(50),
@Prim_Apellido NVARCHAR(50),
@Tipo_Identificacion INT
)
AS BEGIN 

	SELECT 
		P.[Id_Paciente],
		P.[Nombre] + ' ' + P.[Prim_Apellido] + ' ' + P.[Seg_Apellido] AS [Nombre_Completo],
		TI.[Tipo_Identificacion],
		P.[Identificacion],
		P.[Telefono],
		P.[Correo]
	FROM [dbo].[Pacientes] P
	INNER JOIN [dbo].[Tipos_Identificacion] TI ON P.[Tipo_Identificacion] = TI.[Id_TipoIdentificacion]
	WHERE LTRIM(RTRIM(P.[Nombre])) LIKE '%' + LTRIM(RTRIM(@Nombre)) + '%'
		AND LTRIM(RTRIM(P.[Prim_Apellido])) LIKE '%' + LTRIM(RTRIM(@Prim_Apellido)) + '%'
		AND P.[Tipo_Identificacion] = CASE WHEN @Tipo_Identificacion = 0 THEN P.[Tipo_Identificacion] ELSE @Tipo_Identificacion END
	ORDER BY P.[Prim_Apellido], P.[Nombre] ASC
END
GO

USE [CRUD_HOSPITALES]
GO

CREATE PROCEDURE [dbo].[USP_Informacion_Pacientes]
(
@IdPaciente INT
)
AS BEGIN 
	SELECT 
		[Id_Paciente],
		[Nombre],
		[Prim_Apellido],
		[Seg_Apellido],
		[Tipo_Identificacion],
		[Identificacion],
		[Telefono],
		[Correo],
		CONVERT(VARCHAR,DAY([Fecha_Nacimiento])) + '/' + CONVERT(VARCHAR,MONTH([Fecha_Nacimiento])) + '/' + CONVERT(VARCHAR,YEAR([Fecha_Nacimiento])) [Fecha_Nacimiento],
		[Direccion]
	FROM [dbo].[Pacientes] 
	WHERE [Id_Paciente] = @IdPaciente
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Insertar_Pacientes]
(
@Nombre VARCHAR(50),
@Prim_Apellido VARCHAR(50),
@Seg_Apellido VARCHAR(50),
@Tipo_Identificacion INT,
@Identificacion VARCHAR(25),
@Telefono VARCHAR(8),
@Correo VARCHAR(50),
@Fecha_Nacimiento DATE,
@Direccion VARCHAR(500),
@IdUsuario_Global INT
)
AS BEGIN 
BEGIN TRY
	
	IF NOT EXISTS(
		SELECT Id_Paciente 
		FROM Pacientes 
		WHERE Identificacion = @Identificacion
	)
	BEGIN 
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @NOMBRE_COMPLETO VARCHAR(150)
		DECLARE @ACC CHAR(1)
		
		SET @NOMBRE_COMPLETO = RTRIM(LTRIM(@Nombre)) + ' ' + 
		                       RTRIM(LTRIM(@Prim_Apellido)) + ' ' + 
		                       RTRIM(LTRIM(@Seg_Apellido))
		
		SET @DSC = 'Inserta el paciente: ' + @NOMBRE_COMPLETO + 
		           ' con identificación: ' + RTRIM(LTRIM(@Identificacion))
		SET @ACC = 'I'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		INSERT INTO [dbo].[Pacientes] (
			[Nombre], 
			[Prim_Apellido], 
			[Seg_Apellido], 
			[Tipo_Identificacion], 
			[Identificacion], 
			[Telefono], 
			[Correo], 
			[Fecha_Nacimiento],
			[Direccion]
		)
		VALUES (
			@Nombre, 
			@Prim_Apellido, 
			@Seg_Apellido, 
			@Tipo_Identificacion, 
			@Identificacion, 
			@Telefono, 
			@Correo, 
			@Fecha_Nacimiento,
			@Direccion
		)
		
		SELECT @@IDENTITY
		
	END
	ELSE
	BEGIN
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Modificar_Pacientes]
(
@IdPaciente INT,
@Nombre VARCHAR(50),
@Prim_Apellido VARCHAR(50),
@Seg_Apellido VARCHAR(50),
@Tipo_Identificacion INT,
@Identificacion VARCHAR(25),
@Telefono VARCHAR(8),
@Correo VARCHAR(50),
@Fecha_Nacimiento DATE,
@Direccion VARCHAR(500),
@IdUsuario_Global INT
)
AS BEGIN 
BEGIN TRY
	
	IF NOT EXISTS (
		SELECT Id_Paciente 
		FROM Pacientes 
		WHERE Identificacion = @Identificacion 
			AND Id_Paciente <> @IdPaciente
	)
	BEGIN 
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @NOMBRE_COMPLETO_VIEJO VARCHAR(150)
		DECLARE @NOMBRE_COMPLETO_NUEVO VARCHAR(150)
		DECLARE @ACC CHAR(1)
		
		SELECT @NOMBRE_COMPLETO_VIEJO = RTRIM(LTRIM(Nombre)) + ' ' + 
		                                RTRIM(LTRIM(Prim_Apellido)) + ' ' + 
		                                RTRIM(LTRIM(Seg_Apellido))
		FROM Pacientes
		WHERE Id_Paciente = @IdPaciente
		
		SET @NOMBRE_COMPLETO_NUEVO = RTRIM(LTRIM(@Nombre)) + ' ' + 
		                             RTRIM(LTRIM(@Prim_Apellido)) + ' ' + 
		                             RTRIM(LTRIM(@Seg_Apellido))
		
		SET @DSC = 'Modifica el paciente: ' + @NOMBRE_COMPLETO_VIEJO + 
		           ' por ' + @NOMBRE_COMPLETO_NUEVO + 
		           '. Id Registro: ' + CONVERT(VARCHAR, @IdPaciente)
		SET @ACC = 'A'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		UPDATE [dbo].[Pacientes]
		SET [Nombre] = @Nombre,
			[Prim_Apellido] = @Prim_Apellido,
			[Seg_Apellido] = @Seg_Apellido,
			[Tipo_Identificacion] = @Tipo_Identificacion,
			[Identificacion] = @Identificacion,
			[Telefono] = @Telefono,
			[Correo] = @Correo,
			[Fecha_Nacimiento] = @Fecha_Nacimiento,
			[Direccion] = @Direccion
		WHERE Id_Paciente = @IdPaciente
		
		SELECT @IdPaciente
		
	END
	ELSE
	BEGIN
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Eliminar_Pacientes]
(
@IdPaciente INT,
@IdUsuario_Global INT
)
AS BEGIN 
BEGIN TRY
	
	IF (
		NOT EXISTS(SELECT Id_Cita FROM Citas WHERE Id_Paciente = @IdPaciente)
	)
	BEGIN
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @NOMBRE_COMPLETO VARCHAR(150)
		DECLARE @ACC CHAR(1)
		
		SELECT @NOMBRE_COMPLETO = RTRIM(LTRIM(Nombre)) + ' ' + 
		                          RTRIM(LTRIM(Prim_Apellido)) + ' ' + 
		                          RTRIM(LTRIM(Seg_Apellido))
		FROM Pacientes
		WHERE Id_Paciente = @IdPaciente
		
		SET @DSC = 'Elimina el paciente: ' + @NOMBRE_COMPLETO + 
		           '. Id Registro: ' + CONVERT(VARCHAR, @IdPaciente)
		SET @ACC = 'E'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		DELETE FROM Pacientes
		WHERE Id_Paciente = @IdPaciente
		
		SELECT @IdPaciente
		
	END
	ELSE
	BEGIN
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

/*Pruebas*/
--DBCC CHECKIDENT('[dbo].[Pacientes]', RESEED, 0)
--exec [dbo].[USP_Listar_Pacientes]
--exec [dbo].[USP_Filtrar_Pacientes] 'mar','',0
--exec [dbo].[USP_Informacion_Pacientes] 1
--exec [dbo].[USP_Insertar_Pacientes] 'Maria','Perez','Ramirez',1,'3049301111','87879010','maria@dominio.com','2025-12-10','San Predro, Montes de Oca, San Jose',1
--exec [dbo].[USP_Modificar_Pacientes] 1,'Maria','Cambronero','Ramirez',1,'3049301111','87879010','maria@dominio.com','2025-12-10','San Predro, Montes de Oca, San Jose',1
--exec [dbo].[USP_Eliminar_Pacientes] 1,1


----PROCEDIMIENTOS CRUD ESPECIALIDADES X MEDICOS

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Listar_Especialidades_X_Medicos]
(
@IdMedico INT
)
AS BEGIN 
	SELECT 
		EM.[Id_Especialidad_Medico],
		TE.[Tipo_Especialidad]
	FROM [dbo].[Especialidades_X_Medicos] EM
	INNER JOIN [dbo].[Tipos_Especialidades] TE ON EM.[Id_TipoEspecialidad] = TE.[Id_TipoEspecialidad]
	WHERE EM.[Id_Medico] = @IdMedico
	ORDER BY TE.[Tipo_Especialidad] ASC
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Asignar_Especialidad_Medico]
(
@Id_Medico INT,
@Id_TipoEspecialidad INT,
@IdUsuario_Global INT
)
AS BEGIN 
BEGIN TRY
	
	IF NOT EXISTS(
		SELECT Id_Especialidad_Medico 
		FROM Especialidades_X_Medicos 
		WHERE Id_Medico = @Id_Medico 
			AND Id_TipoEspecialidad = @Id_TipoEspecialidad
	)
	BEGIN 
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @MEDICO VARCHAR(150)
		DECLARE @ESPECIALIDAD VARCHAR(50)
		DECLARE @ACC CHAR(1)
		
		SELECT @MEDICO = RTRIM(LTRIM(Nombre)) + ' ' + 
		                 RTRIM(LTRIM(Prim_Apellido)) + ' ' + 
		                 RTRIM(LTRIM(Seg_Apellido))
		FROM Medicos
		WHERE Id_Medico = @Id_Medico
		
		SELECT @ESPECIALIDAD = RTRIM(LTRIM(Tipo_Especialidad))
		FROM Tipos_Especialidades
		WHERE Id_TipoEspecialidad = @Id_TipoEspecialidad
		
		SET @DSC = 'Asigna la especialidad: ' + @ESPECIALIDAD + 
		           ' al médico: ' + @MEDICO
		SET @ACC = 'I'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		INSERT INTO [dbo].[Especialidades_X_Medicos] (
			[Id_Medico], 
			[Id_TipoEspecialidad]
		)
		VALUES (
			@Id_Medico, 
			@Id_TipoEspecialidad
		)
		
		SELECT @@IDENTITY
		
	END
	ELSE
	BEGIN
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Eliminar_Especialidad_Medico]
(
@IdEspecialidadMedico INT,
@IdUsuario_Global INT
)
AS BEGIN 
BEGIN TRY
	
	BEGIN
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @MEDICO VARCHAR(150)
		DECLARE @ESPECIALIDAD VARCHAR(50)
		DECLARE @ACC CHAR(1)
		
		SELECT @MEDICO = RTRIM(LTRIM(M.Nombre)) + ' ' + 
		                 RTRIM(LTRIM(M.Prim_Apellido)) + ' ' + 
		                 RTRIM(LTRIM(M.Seg_Apellido)),
		       @ESPECIALIDAD = RTRIM(LTRIM(TE.Tipo_Especialidad))
		FROM Especialidades_X_Medicos EM
		INNER JOIN Medicos M ON EM.Id_Medico = M.Id_Medico
		INNER JOIN Tipos_Especialidades TE ON EM.Id_TipoEspecialidad = TE.Id_TipoEspecialidad
		WHERE EM.Id_Especialidad_Medico = @IdEspecialidadMedico
		
		SET @DSC = 'Elimina especialidad: ' + @ESPECIALIDAD + 
		           ' del médico: ' + @MEDICO + 
		           '. Id Registro: ' + CONVERT(VARCHAR, @IdEspecialidadMedico)
		SET @ACC = 'E'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		DELETE FROM Especialidades_X_Medicos
		WHERE Id_Especialidad_Medico = @IdEspecialidadMedico
		
		SELECT @IdEspecialidadMedico
		
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

--DBCC CHECKIDENT('[dbo].[Especialidades_X_Medicos]', RESEED, 0)
--exec [dbo].[USP_Listar_Especialidades_X_Medicos] 1
--exec [dbo].[USP_Asignar_Especialidad_Medico] 1,1,1


----PROCEDIMIENTOS CRUD CITAS

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Listar_Citas]
AS BEGIN 
	SELECT 
		C.[Id_Cita],
		P.[Nombre] + ' ' + P.[Prim_Apellido] + ' ' + P.[Seg_Apellido] AS [Paciente],
		M.[Nombre] + ' ' + M.[Prim_Apellido] + ' ' + M.[Seg_Apellido] AS [Medico],
		CONS.[Descripcion] AS [Consultorio],
		TC.[Tipo_Cita],
		CONVERT(VARCHAR,DAY(C.[Fecha])) + '/' + CONVERT(VARCHAR,MONTH(C.[Fecha])) + '/' + CONVERT(VARCHAR,YEAR(C.[Fecha])) AS [Fecha],
		CASE LTRIM(RTRIM(C.[Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
	FROM [dbo].[Citas] C
	INNER JOIN [dbo].[Pacientes] P ON C.[Id_Paciente] = P.[Id_Paciente]
	INNER JOIN [dbo].[Medicos] M ON C.[Id_Medico] = M.[Id_Medico]
	INNER JOIN [dbo].[Consultorios] CONS ON C.[Id_Consultorio] = CONS.[Id_Consultorio]
	INNER JOIN [dbo].[Tipos_Citas] TC ON C.[Id_TipoCita] = TC.[Id_TipoCita]
	ORDER BY C.[Fecha] DESC, P.[Prim_Apellido], P.[Nombre] ASC
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Filtrar_Citas]
(
@Id_Paciente INT,
@Id_Medico INT,
@Id_Consultorio INT,
@Id_TipoCita INT,
@Estado NVARCHAR(10)
)
AS BEGIN 

	SELECT 
		C.[Id_Cita],
		P.[Nombre] + ' ' + P.[Prim_Apellido] + ' ' + P.[Seg_Apellido] AS [Paciente],
		M.[Nombre] + ' ' + M.[Prim_Apellido] + ' ' + M.[Seg_Apellido] AS [Medico],
		CONS.[Descripcion] AS [Consultorio],
		TC.[Tipo_Cita],
		CONVERT(VARCHAR,DAY(C.[Fecha])) + '/' + CONVERT(VARCHAR,MONTH(C.[Fecha])) + '/' + CONVERT(VARCHAR,YEAR(C.[Fecha])) AS [Fecha],
		CASE LTRIM(RTRIM(C.[Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
	FROM [dbo].[Citas] C
	INNER JOIN [dbo].[Pacientes] P ON C.[Id_Paciente] = P.[Id_Paciente]
	INNER JOIN [dbo].[Medicos] M ON C.[Id_Medico] = M.[Id_Medico]
	INNER JOIN [dbo].[Consultorios] CONS ON C.[Id_Consultorio] = CONS.[Id_Consultorio]
	INNER JOIN [dbo].[Tipos_Citas] TC ON C.[Id_TipoCita] = TC.[Id_TipoCita]
	WHERE C.[Id_Paciente] = CASE WHEN @Id_Paciente = 0 THEN C.[Id_Paciente] ELSE @Id_Paciente END
		AND C.[Id_Medico] = CASE WHEN @Id_Medico = 0 THEN C.[Id_Medico] ELSE @Id_Medico END
		AND C.[Id_Consultorio] = CASE WHEN @Id_Consultorio = 0 THEN C.[Id_Consultorio] ELSE @Id_Consultorio END
		AND C.[Id_TipoCita] = CASE WHEN @Id_TipoCita = 0 THEN C.[Id_TipoCita] ELSE @Id_TipoCita END
		AND C.[Estado] = CASE LTRIM(RTRIM(@Estado)) WHEN '' THEN C.[Estado] WHEN 'Activo' THEN 'A' ELSE 'I' END
	ORDER BY C.[Fecha] DESC, P.[Prim_Apellido], P.[Nombre] ASC
END
GO

USE [CRUD_HOSPITALES]
GO

CREATE PROCEDURE [dbo].[USP_Informacion_Citas]
(
@IdCita INT
)
AS BEGIN 
	SELECT 
		[Id_Cita],
		[Id_TipoCita],
		[Id_Medico],
		[Id_Paciente],
		[Id_Consultorio],
		CONVERT(VARCHAR,DAY([Fecha])) + '/' + CONVERT(VARCHAR,MONTH([Fecha])) + '/' + CONVERT(VARCHAR,YEAR([Fecha])) AS [Fecha],
		[Estado]
	FROM [dbo].[Citas] 
	WHERE [Id_Cita] = @IdCita
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Insertar_Citas]
(
@Id_TipoCita INT,
@Id_Medico INT,
@Id_Paciente INT,
@Id_Consultorio INT,
@Fecha DATE,
@Estado VARCHAR(1),
@IdUsuario_Global INT
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que no exista ya esa combinación paciente + médico + fecha
	IF NOT EXISTS(
		SELECT Id_Cita 
		FROM Citas 
		WHERE Id_Paciente = @Id_Paciente 
			AND Id_Medico = @Id_Medico 
			AND Fecha = @Fecha
	)
	BEGIN 
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @PACIENTE VARCHAR(150)
		DECLARE @MEDICO VARCHAR(150)
		DECLARE @FECHA_STR VARCHAR(10)
		DECLARE @ACC CHAR(1)
		
		SELECT @PACIENTE = RTRIM(LTRIM(Nombre)) + ' ' + 
		                   RTRIM(LTRIM(Prim_Apellido)) + ' ' + 
		                   RTRIM(LTRIM(Seg_Apellido))
		FROM Pacientes
		WHERE Id_Paciente = @Id_Paciente
		
		SELECT @MEDICO = RTRIM(LTRIM(Nombre)) + ' ' + 
		                 RTRIM(LTRIM(Prim_Apellido)) + ' ' + 
		                 RTRIM(LTRIM(Seg_Apellido))
		FROM Medicos
		WHERE Id_Medico = @Id_Medico
		
		SET @FECHA_STR = CONVERT(VARCHAR,DAY(@Fecha)) + '/' + 
		                 CONVERT(VARCHAR,MONTH(@Fecha)) + '/' + 
		                 CONVERT(VARCHAR,YEAR(@Fecha))
		
		SET @DSC = 'Registra cita del paciente: ' + @PACIENTE + 
		           ' con el médico: ' + @MEDICO + 
		           ' para la fecha: ' + @FECHA_STR
		SET @ACC = 'I'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		INSERT INTO [dbo].[Citas] (
			[Id_TipoCita], 
			[Id_Medico], 
			[Id_Paciente], 
			[Id_Consultorio], 
			[Fecha], 
			[Estado]
		)
		VALUES (
			@Id_TipoCita, 
			@Id_Medico, 
			@Id_Paciente, 
			@Id_Consultorio, 
			@Fecha, 
			@Estado
		)
		
		SELECT @@IDENTITY
		
	END
	ELSE
	BEGIN
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Modificar_Citas]
(
@IdCita INT,
@Id_TipoCita INT,
@Id_Medico INT,
@Id_Paciente INT,
@Id_Consultorio INT,
@Fecha DATE,
@Estado VARCHAR(1),
@IdUsuario_Global INT
)
AS BEGIN 
BEGIN TRY
	
	-- Validar que no exista OTRA combinación igual
	IF NOT EXISTS (
		SELECT Id_Cita 
		FROM Citas 
		WHERE Id_Paciente = @Id_Paciente 
			AND Id_Medico = @Id_Medico 
			AND Fecha = @Fecha
			AND Id_Cita <> @IdCita
	)
	BEGIN 
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @PACIENTE_VIEJO VARCHAR(150)
		DECLARE @MEDICO_VIEJO VARCHAR(150)
		DECLARE @FECHA_VIEJA VARCHAR(10)
		DECLARE @PACIENTE_NUEVO VARCHAR(150)
		DECLARE @MEDICO_NUEVO VARCHAR(150)
		DECLARE @FECHA_NUEVA VARCHAR(10)
		DECLARE @ACC CHAR(1)
		
		SELECT @PACIENTE_VIEJO = RTRIM(LTRIM(P.Nombre)) + ' ' + 
		                         RTRIM(LTRIM(P.Prim_Apellido)) + ' ' + 
		                         RTRIM(LTRIM(P.Seg_Apellido)),
		       @MEDICO_VIEJO = RTRIM(LTRIM(M.Nombre)) + ' ' + 
		                       RTRIM(LTRIM(M.Prim_Apellido)) + ' ' + 
		                       RTRIM(LTRIM(M.Seg_Apellido)),
		       @FECHA_VIEJA = CONVERT(VARCHAR,DAY(C.Fecha)) + '/' + 
		                      CONVERT(VARCHAR,MONTH(C.Fecha)) + '/' + 
		                      CONVERT(VARCHAR,YEAR(C.Fecha))
		FROM Citas C
		INNER JOIN Pacientes P ON C.Id_Paciente = P.Id_Paciente
		INNER JOIN Medicos M ON C.Id_Medico = M.Id_Medico
		WHERE C.Id_Cita = @IdCita
		
		SELECT @PACIENTE_NUEVO = RTRIM(LTRIM(Nombre)) + ' ' + 
		                         RTRIM(LTRIM(Prim_Apellido)) + ' ' + 
		                         RTRIM(LTRIM(Seg_Apellido))
		FROM Pacientes
		WHERE Id_Paciente = @Id_Paciente
		
		SELECT @MEDICO_NUEVO = RTRIM(LTRIM(Nombre)) + ' ' + 
		                       RTRIM(LTRIM(Prim_Apellido)) + ' ' + 
		                       RTRIM(LTRIM(Seg_Apellido))
		FROM Medicos
		WHERE Id_Medico = @Id_Medico
		
		SET @FECHA_NUEVA = CONVERT(VARCHAR,DAY(@Fecha)) + '/' + 
		                   CONVERT(VARCHAR,MONTH(@Fecha)) + '/' + 
		                   CONVERT(VARCHAR,YEAR(@Fecha))
		
		SET @DSC = 'Modifica cita: ' + @PACIENTE_VIEJO + ' - ' + @MEDICO_VIEJO + ' (' + @FECHA_VIEJA + ')' + 
		           ' por ' + @PACIENTE_NUEVO + ' - ' + @MEDICO_NUEVO + ' (' + @FECHA_NUEVA + ')' + 
		           '. Id Registro: ' + CONVERT(VARCHAR, @IdCita)
		SET @ACC = 'A'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		UPDATE [dbo].[Citas]
		SET [Id_TipoCita] = @Id_TipoCita,
			[Id_Medico] = @Id_Medico,
			[Id_Paciente] = @Id_Paciente,
			[Id_Consultorio] = @Id_Consultorio,
			[Fecha] = @Fecha,
			[Estado] = @Estado
		WHERE Id_Cita = @IdCita
		
		SELECT @IdCita
		
	END
	ELSE
	BEGIN
		SELECT -1
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

USE CRUD_HOSPITALES
GO

CREATE PROCEDURE [dbo].[USP_Eliminar_Citas]
(
@IdCita INT,
@IdUsuario_Global INT
)
AS BEGIN 
BEGIN TRY
	
	-- No hay validaciones FK, Citas es tabla final
	BEGIN
		
		------------------------AUDITORÍA-----------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @PACIENTE VARCHAR(150)
		DECLARE @MEDICO VARCHAR(150)
		DECLARE @FECHA_STR VARCHAR(10)
		DECLARE @ACC CHAR(1)
		
		SELECT @PACIENTE = RTRIM(LTRIM(P.Nombre)) + ' ' + 
		                   RTRIM(LTRIM(P.Prim_Apellido)) + ' ' + 
		                   RTRIM(LTRIM(P.Seg_Apellido)),
		       @MEDICO = RTRIM(LTRIM(M.Nombre)) + ' ' + 
		                 RTRIM(LTRIM(M.Prim_Apellido)) + ' ' + 
		                 RTRIM(LTRIM(M.Seg_Apellido)),
		       @FECHA_STR = CONVERT(VARCHAR,DAY(C.Fecha)) + '/' + 
		                    CONVERT(VARCHAR,MONTH(C.Fecha)) + '/' + 
		                    CONVERT(VARCHAR,YEAR(C.Fecha))
		FROM Citas C
		INNER JOIN Pacientes P ON C.Id_Paciente = P.Id_Paciente
		INNER JOIN Medicos M ON C.Id_Medico = M.Id_Medico
		WHERE C.Id_Cita = @IdCita
		
		SET @DSC = 'Elimina cita: ' + @PACIENTE + ' - ' + @MEDICO + 
		           ' (' + @FECHA_STR + ')' + 
		           '. Id Registro: ' + CONVERT(VARCHAR, @IdCita)
		SET @ACC = 'E'
		
		INSERT INTO Auditoria (Id_Usuario, Accion, Descripción, Fecha)
		SELECT @IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)), GETDATE()
		------------------------AUDITORÍA-----------------------------------------
		
		DELETE FROM Citas
		WHERE Id_Cita = @IdCita
		
		SELECT @IdCita
		
	END
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

--DBCC CHECKIDENT('[dbo].[Citas]', RESEED, 0)
--exec [dbo].[USP_Listar_Citas]
--exec [dbo].[USP_Filtrar_Citas] 0,0,0,0,'Activo'
--exec [dbo].[USP_Informacion_Citas] 1
--exec [dbo].[USP_Insertar_Citas] 1,1,2,3,'2025-12-16','A',1
--exec [dbo].[USP_Modificar_Citas] 1,1,1,2,3,'2025-12-25','A',1
--exec [dbo].[USP_Eliminar_Citas] 1,1

