<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="WIN_AUT" providerName="System.Data.SqlClient" connectionString="Data Source=.; 
                          Initial Catalog=CRUD_HOSPITALES; 
                          Integrated Security=True;"/>


		<add name="SQL_AUT" providerName="System.Data.SqlClient" connectionString="Data Source=.; 
                          Initial Catalog=CRUD_HOSPITALES; 
                          Persist Security Info=True;
                          User ID=sa;
                          Password=;"/>
	</connectionStrings>


	<appSettings>
		<!--Inicio Validaciones de credenciales y permisos-->
		<add key="SP_LogIn_Usuarios" value="dbo.USP_InicioSesion_Usuarios"/>
		<add key="SP_INFO_Usuarios" value="dbo.USP_Informacion_Usuarios" />
		<add key="SP_CierraSesion_Usuarios" value="dbo.USP_CierraSesion_Usuarios"/>
		<!--Fin Validaciones de credenciales y permisos-->

		<!--Inicio Funciones CRUD Tipos Identificacion-->
		<add key="SP_LST_Tipos_Identificacion" value="USP_Listar_Tipos_Identificacion"/>
		<add key="SP_FIL_Tipos_Identificacion" value="dbo.USP_Filtrar_Tipos_Identificacion" />
		<add key="SP_INFO_Tipos_Identificacion" value="dbo.USP_Informacion_Tipos_Identificacion" />
		<add key="SP_Delete_Tipos_Identificacion" value="dbo.USP_Eliminar_Tipos_Identificacion"/>
		<add key="SP_Insert_Tipos_Identificacion" value="dbo.USP_Insertar_Tipos_Identificacion"/>
		<add key="SP_Update_Tipos_Identificacion" value="dbo.USP_Modificar_Tipos_Identificacion"/>
		<!--Fin Funciones CRUD Tipos Identificacion-->

		<!--Inicio Funciones CRUD Tipos Consultorio-->
		<add key="SP_LST_Tipos_Consultorio" value="USP_Listar_Tipos_Consultorios"/>
		<add key="SP_FIL_Tipos_Consultorio" value="dbo.USP_Filtrar_Tipos_Consultorios" />
		<add key="SP_INFO_Tipos_Consultorio" value="dbo.USP_Informacion_Tipos_Consultorios" />
		<add key="SP_Delete_Tipos_Consultorio" value="dbo.USP_Eliminar_Tipos_Consultorios"/>
		<add key="SP_Insert_Tipos_Consultorio" value="dbo.USP_Insertar_Tipos_Consultorios"/>
		<add key="SP_Update_Tipos_Consultorio" value="dbo.USP_Modificar_Tipos_Consultorios"/>
		<!--Fin Funciones CRUD Tipos Consultorio-->

		<!--Inicio Funciones CRUD Tipos Especialidad-->
		<add key="SP_LST_Tipos_Especialidad" value="USP_Listar_Tipos_Especialidades"/>
		<add key="SP_FIL_Tipos_Especialidad" value="dbo.USP_Filtrar_Tipos_Especialidades" />
		<add key="SP_INFO_Tipos_Especialidad" value="dbo.USP_Informacion_Tipos_Especialidades" />
		<add key="SP_Delete_Tipos_Especialidad" value="dbo.USP_Eliminar_Tipos_Especialidades"/>
		<add key="SP_Insert_Tipos_Especialidad" value="dbo.USP_Insertar_Tipos_Especialidades"/>
		<add key="SP_Update_Tipos_Especialidad" value="dbo.USP_Modificar_Tipos_Especialidades"/>
		<!--Fin Funciones CRUD Tipos Especialidad-->

		<!--Inicio Funciones CRUD Tipos Cita-->
		<add key="SP_LST_Tipos_Cita" value="USP_Listar_Tipos_Citas"/>
		<add key="SP_FIL_Tipos_Cita" value="dbo.USP_Filtrar_Tipos_Citas" />
		<add key="SP_INFO_Tipos_Cita" value="dbo.USP_Informacion_Tipos_Citas" />
		<add key="SP_Delete_Tipos_Cita" value="dbo.USP_Eliminar_Tipos_Citas"/>
		<add key="SP_Insert_Tipos_Cita" value="dbo.USP_Insertar_Tipos_Citas"/>
		<add key="SP_Update_Tipos_Cita" value="dbo.USP_Modificar_Tipos_Citas"/>
		<!--Fin Funciones CRUD Tipos Cita-->
		
	</appSettings>


	<system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>