<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="WIN_AUT" providerName="System.Data.SqlClient" connectionString="Data Source=.; 
                          Initial Catalog=CRUD_HOSPITALES; 
                          Integrated Security=True;"/>


		<add name="SQL_AUT" providerName="System.Data.SqlClient" connectionString="Data Source=.; 
                          Initial Catalog=CRUD_HOSPITALES; 
                          Persist Security Info=True;
                          User ID=sa;
                          Password=;"/>
	</connectionStrings>


	<appSettings>
		<!--Inicio Validaciones de credenciales y permisos-->
		<add key="SP_LogIn_Usuarios" value="dbo.USP_InicioSesion_Usuarios"/>
		<add key="SP_INFO_Usuarios" value="dbo.USP_Informacion_Usuarios" />
		<add key="SP_CierraSesion_Usuarios" value="dbo.USP_CierraSesion_Usuarios"/>
		<!--Fin Validaciones de credenciales y permisos-->

		<!--Inicio Funciones CRUD Tipos Identificacion-->
		<add key="SP_LST_Tipos_Identificacion" value="USP_Listar_Tipos_Identificacion"/>
		<add key="SP_FIL_Tipos_Identificacion" value="dbo.USP_Filtrar_Tipos_Identificacion" />
		<add key="SP_INFO_Tipos_Identificacion" value="dbo.USP_Informacion_Tipos_Identificacion" />
		<add key="SP_Delete_Tipos_Identificacion" value="dbo.USP_Eliminar_Tipos_Identificacion"/>
		<add key="SP_Insert_Tipos_Identificacion" value="dbo.USP_Insertar_Tipos_Identificacion"/>
		<add key="SP_Update_Tipos_Identificacion" value="dbo.USP_Modificar_Tipos_Identificacion"/>
		<!--Fin Funciones CRUD Tipos Identificacion-->

		<!--Inicio Funciones CRUD Tipos Consultorio-->
		<add key="SP_LST_Tipos_Consultorio" value="USP_Listar_Tipos_Consultorios"/>
		<add key="SP_FIL_Tipos_Consultorio" value="dbo.USP_Filtrar_Tipos_Consultorios" />
		<add key="SP_INFO_Tipos_Consultorio" value="dbo.USP_Informacion_Tipos_Consultorios" />
		<add key="SP_Delete_Tipos_Consultorio" value="dbo.USP_Eliminar_Tipos_Consultorios"/>
		<add key="SP_Insert_Tipos_Consultorio" value="dbo.USP_Insertar_Tipos_Consultorios"/>
		<add key="SP_Update_Tipos_Consultorio" value="dbo.USP_Modificar_Tipos_Consultorios"/>
		<!--Fin Funciones CRUD Tipos Consultorio-->

		<!--Inicio Funciones CRUD Tipos Especialidad-->
		<add key="SP_LST_Tipos_Especialidad" value="USP_Listar_Tipos_Especialidades"/>
		<add key="SP_FIL_Tipos_Especialidad" value="dbo.USP_Filtrar_Tipos_Especialidades" />
		<add key="SP_INFO_Tipos_Especialidad" value="dbo.USP_Informacion_Tipos_Especialidades" />
		<add key="SP_Delete_Tipos_Especialidad" value="dbo.USP_Eliminar_Tipos_Especialidades"/>
		<add key="SP_Insert_Tipos_Especialidad" value="dbo.USP_Insertar_Tipos_Especialidades"/>
		<add key="SP_Update_Tipos_Especialidad" value="dbo.USP_Modificar_Tipos_Especialidades"/>
		<!--Fin Funciones CRUD Tipos Especialidad-->

		<!--Inicio Funciones CRUD Tipos Cita-->
		<add key="SP_LST_Tipos_Cita" value="USP_Listar_Tipos_Citas"/>
		<add key="SP_FIL_Tipos_Cita" value="dbo.USP_Filtrar_Tipos_Citas" />
		<add key="SP_INFO_Tipos_Cita" value="dbo.USP_Informacion_Tipos_Citas" />
		<add key="SP_Delete_Tipos_Cita" value="dbo.USP_Eliminar_Tipos_Citas"/>
		<add key="SP_Insert_Tipos_Cita" value="dbo.USP_Insertar_Tipos_Citas"/>
		<add key="SP_Update_Tipos_Cita" value="dbo.USP_Modificar_Tipos_Citas"/>
		<!--Fin Funciones CRUD Tipos Cita-->

		<!--Inicio Funciones CRUD Hospitales-->
		<add key="SP_LST_Hospitales" value="USP_Listar_Hospitales"/>
		<add key="SP_FIL_Hospitales" value="dbo.USP_Filtrar_Hospitales" />
		<add key="SP_INFO_Hospitales" value="dbo.USP_Informacion_Hospitales" />
		<add key="SP_Delete_Hospitales" value="dbo.USP_Eliminar_Hospitales"/>
		<add key="SP_Insert_Hospitales" value="dbo.USP_Insertar_Hospitales"/>
		<add key="SP_Update_Hospitales" value="dbo.USP_Modificar_Hospitales"/>
		<!--Fin Funciones CRUD Hospitales-->

		<!--Inicio Funciones CRUD Consultorios-->
		<add key="SP_LST_Consultorios" value="USP_Listar_Consultorios"/>
		<add key="SP_FIL_Consultorios" value="dbo.USP_Filtrar_Consultorios" />
		<add key="SP_INFO_Consultorios" value="dbo.USP_Informacion_Consultorios" />
		<add key="SP_Delete_Consultorios" value="dbo.USP_Eliminar_Consultorios"/>
		<add key="SP_Insert_Consultorios" value="dbo.USP_Insertar_Consultorios"/>
		<add key="SP_Update_Consultorios" value="dbo.USP_Modificar_Consultorios"/>
		<!--Fin Funciones CRUD Consultorios-->

		<!--Inicio Funciones CRUD Medicos-->
		<add key="SP_LST_Medicos" value="USP_Listar_Medicos"/>
		<add key="SP_FIL_Medicos" value="dbo.USP_Filtrar_Medicos" />
		<add key="SP_INFO_Medicos" value="dbo.USP_Informacion_Medicos" />
		<add key="SP_Delete_Medicos" value="dbo.USP_Eliminar_Medicos"/>
		<add key="SP_Insert_Medicos" value="dbo.USP_Insertar_Medicos"/>
		<add key="SP_Update_Medicos" value="dbo.USP_Modificar_Medicos"/>
		<!--Fin Funciones CRUD Medicos-->

		<!--Inicio Funciones CRUD Pacientes-->
		<add key="SP_LST_Pacientes" value="USP_Listar_Pacientes"/>
		<add key="SP_FIL_Pacientes" value="dbo.USP_Filtrar_Pacientes" />
		<add key="SP_INFO_Pacientes" value="dbo.USP_Informacion_Pacientes" />
		<add key="SP_Delete_Pacientes" value="dbo.USP_Eliminar_Pacientes"/>
		<add key="SP_Insert_Pacientes" value="dbo.USP_Insertar_Pacientes"/>
		<add key="SP_Update_Pacientes" value="dbo.USP_Modificar_Pacientes"/>
		<!--Fin Funciones CRUD Pacientes-->

		<!--Inicio Funciones CRUD Especialidades-->
		<add key="SP_LST_Especialidades_X_Medicos" value="dbo.USP_Listar_Especialidades_X_Medicos" />
		<add key="SP_Asignar_Especialidad_Medico" value="dbo.USP_Asignar_Especialidad_Medico" />
		<add key="SP_Eliminar_Especialidad_Medico" value="dbo.USP_Eliminar_Especialidad_Medico" />
		<!--Fin Funciones CRUD Especialidades-->
		
	</appSettings>


	<system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>